/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/resources/js/endpoint.js
/vendor
.env
.phpintel
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
docker-compose.yml
public/examples
reports
package-lock.json
.idea
/coverage
