// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
$white: #fff;
$black: #000;
$gray-light: #f7f7f7;
